.Cell {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: inherit;
  box-sizing: border-box;
  padding: 8px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
